<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Architecture</title>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/meyer.css">
  <link rel="stylesheet" href="/static/ft.css">
  <link rel="stylesheet" href="/static/root.css">
  <link rel="stylesheet" href="/static/styles.css">
</head>