<header>
  <div class="content">
    <h2 class="text-xl"><i class="i-home"></i> Architect</h2>
    <nav id="main-menu">
      <input type="checkbox" name="menu" id="menu" class="hidden">
      <label class="test" for="menu">
        <i class="i-menu text-2xl sm:hidden"></i>
        <ul class="hidden flex-row justify-center">
          <li><a href="#home">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#portfolio">Portfolio</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </label>
    </nav>
  </div>
</header>