@tailwind base;
@tailwind utilities;

* { box-sizing: border-box; }

html { scroll-behavior: smooth; }

body {
  @apply font-montserrat;
  @apply text-white;
  @apply bg-dark;
}

h1 { @apply text-4xl font-bold; }

section { @apply relative w-full; }
section .content {
  @apply w-full max-w-screen-xl;
  @apply my-0 mx-auto;
  @apply pt-32 px-4 pb-20;
}
section h2 { @apply text-center text-3xl font-bold uppercase; }
section h2 span {
  background: -webkit-linear-gradient(0deg, #f7f1e3 50%, #ffb142 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
section h3 { @apply mb-8 text-2xl font-bold; }

button, .button {
  @apply inline-block;
  @apply py-4 px-8;
  @apply border-2 border-solid border-action;
  @apply text-xl font-bold uppercase text-action;
  @apply cursor-pointer;
  @apply bg-black bg-opacity-25;
}
button:hover, .button:hover { @apply text-dark bg-action; }

.quote { @apply italic text-center; }

/* HEADER + NAV */
header { @apply py-6 fixed w-full top-0 left-0 bg-dark bg-opacity-75 z-10 shadow; }
header .content {
  @apply my-0 mx-auto px-4 w-full max-w-screen-xl;
  @apply flex flex-row justify-between items-center;
}

nav#main-menu { }
nav#main-menu input[type=checkbox] + label { }
nav#main-menu input[type=checkbox] + label i:before { content: '\f006'; }
nav#main-menu input[type=checkbox]:checked + label i:before { content: '\f007'; }
nav#main-menu input[type=checkbox]:checked + label ul { display: flex; }

nav#main-menu ul {
  @apply absolute left-0 w-full py-6 px-8 z-20 shadow;
  top: 100%;
  @apply bg-dark bg-opacity-75;
}
nav#main-menu ul li {
  @apply mx-3;
}
@media (min-width: 640px) {
  nav#main-menu ul {
    @apply relative flex w-auto p-0 z-auto shadow-none bg-opacity-0;
    top: unset;
  }
}
/* END HEADER + NAV */

/* HOME SECTION */
#home { @apply h-screen flex flex-col justify-center; }
#home:after {
  content: '';
  z-index: -1;

  @apply absolute top-0 left-0;
  @apply w-full h-full;

  background-image: url(/static/images/1.jpg);
  @apply bg-no-repeat bg-cover bg-center;
  filter: brightness(0.5);
}
#home .content { @apply py-0; }
/* END HOME SECTION */

/* ABOUT SECTION */
#about { @apply text-dark bg-white; }
#about h2 span {
  background: -webkit-linear-gradient(0deg, #272727 50%, #ffb142 51%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* END ABOUT SECTION */

/* PORTFOLIO SECTION */
#portfolio #carousel {
  @apply relative mb-4 overflow-hidden;
  height: 55vh;
}
#portfolio .carousel_container {
  @apply absolute top-0 left-0 h-full flex overflow-hidden;
  transition: left 0.6s ease;
}
#portfolio .carousel_action {
  @apply absolute flex flex-row overflow-hidden;
  bottom: 0.25rem;
  left: 50%;
  transform: translateX(-50%);
}
#portfolio .carousel_action input[type=radio] {
  @apply mx-1;
}
#portfolio figure {
  @apply relative overflow-hidden h-full;
}
#portfolio figure figcaption {
  @apply absolute;
  top: .5rem;
  left: .5rem;
  @apply py-1 px-2;
  @apply text-dark text-sm bg-action;
}
#portfolio figure img {
  max-width: unset;
  @apply h-full w-full;
}
/* END PORTFOLIO SECTION */

/* SECTION CONTACT */
#contact:after {
  content: '';
  z-index: -1;

  @apply absolute top-0 left-0;
  @apply w-full h-full;

  background-image: url(/static/images/7.jpg);
  @apply bg-no-repeat bg-cover bg-center;
  filter: brightness(0.5);
}
#contact input {
  @apply py-2 px-4 appearance-none leading-tight;
  @apply text-dark;
  @apply bg-white bg-opacity-75;
  @apply border-2 border-white border-opacity-75;
}
#contact input::placeholder { @apply text-dark; }
#contact input:focus { @apply outline-none border-action border-opacity-100; }

#contact textarea {
  @apply py-2 px-4 appearance-none leading-tight;
  @apply text-dark;
  @apply bg-white bg-opacity-75;
  @apply border-2 border-white border-opacity-75;
}
#contact textarea::placeholder { @apply text-dark; }
#contact textarea:focus { @apply outline-none border-action border-opacity-100; }

#contact .socials a { @apply mx-2 flex items-center justify-center shadow; }
#contact .socials a span {
  @apply relative;
  @apply w-12 h-12 rounded-full bg-white bg-opacity-50;
}
#contact .socials a span i {
  @apply absolute text-2xl;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#contact .socials a:hover span i {
  @apply absolute text-3xl;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
/* END SECTION CONTACT */