<section id="contact">

  <div class="content">
    <h2 class="mb-16"><span>Contact</span></h2>

    <form class="mb-16 flex flex-col items-center">
      <div class="mb-4 flex flex-col sm:flex-row">
        <div class="m-0 mb-2 w-full sm:w-1/3 flex flex-col sm:m-0 sm:mr-2">
          <input class="m-0 w-full mb-2" type="text" name="name" id="name" placeholder="Prénom Nom">
          <input class="m-0 w-full" type="email" name="email" id="email" placeholder="email@email.com">
        </div>
        <textarea class="w-full sm:w-2/3" name="text" id="text" cols="60" rows="6" placeholder="Votre projet"></textarea>
      </div>

      <div class="action">
        <button type="submit">Envoyer</button>
      </div>
    </form>

    <div class="socials mb-16 flex flex-row items-center justify-center">
      <a href="#"><span><i class="i-insta"></i></span></a>
      <a href="#"><span><i class="i-twitter"></i></span></a>
      <a href="#"><span><i class="i-fb"></i></span></a>
    </div>

    <p class="text-sm w-full text-center">Made with <i class="i-heart text-action"></i> by <a href="https://taboun-n.gitlab.io/" target="_blank" rel="noopener noreferrer">Nicolas T.</a></p>
  </div>
</section>