<section id="about">

  <div class="content">
    <h2 class="mb-16"><span>About</span></h2>

    <div class="flex flex-col items-center sm:flex-row">
      <div class="mb-8 sm:mb-0 sm:w-1/3">
        <img class="h-auto w-full shadow-lg" src="/static/images/2.jpg" alt="Building 2">
      </div>
  
      <div class="sm:ml-6 sm:w-2/3">
        <h3 class="text-center sm:text-right">Lorem Ipsum</h3>
        <p class="text-sm sm:text-base sm:text-right">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam, dolorum quaerat. In provident minima vero sequi, reiciendis voluptates. Doloremque quas officiis exercitationem beatae ducimus facere odit porro sequi totam quam.</p>
      </div>
    </div>
  </div>

</section>