<section id="home">

  <div class="content">
    <h1 class="mb-4">Lorem Ipsum</h1>

    <p class="mb-8 sm:w-3/5 text-sm sm:text-base">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe alias ea sequi explicabo dignissimos ratione deleniti accusantium. Ipsam laudantium qui voluptas quaerat, voluptate possimus rerum pariatur laboriosam dolorum id molestias!</p>

    <a href="#contact" class="button"><span>contact</span></a>
  </div>

</section>