<!DOCTYPE html>
<html lang="en">
<%- include('../template/head') %>
<body>
  <%- include('../template/nav') %>

  <%- include('home_home') %>

  <%- include('home_about') %>

  <%- include('home_portfolio', { portfolio_pictures }) %>

  <%- include('home_contact', { portfolio_pictures }) %>

  <script src="/static/app.js"></script>
</body>
</html>