<section id="portfolio">

  <div class="content">
    <h2 class="mb-16"><span>Portfolio</span></h2>

    <div id="carousel">
      <div class="carousel_container">
        <% portfolio_pictures.forEach(element => { %>
          <figure>
            <img class="object-cover object-center" src="/static/portfolio/<%- element %>" alt="<%- element %>">
            <figcaption>Project #<%- element.split('.')[0] %></figcaption>
          </figure>
        <% }); %>
      </div>

      <form class="carousel_action"></form>
    </div>

    <p class="quote text-xs sm:text-sm">"Lorem ipsum dolor sit, amet consectetur adipisicing elit.",<br/>Lorem Ipsum</p>
  </div>

</section>