@font-face {
  font-family: 'ft';
  src: url('/static/fonts/ft.eot?44087584');
  src: url('/static/fonts/ft.eot?44087584#iefix') format('embedded-opentype'),
       url('/static/fonts/ft.woff2?44087584') format('woff2'),
       url('/static/fonts/ft.woff?44087584') format('woff'),
       url('/static/fonts/ft.ttf?44087584') format('truetype'),
       url('/static/fonts/ft.svg?44087584#ft') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ft';
    src: url('../font/ft.svg?44087584#ft') format('svg');
  }
}
*/
 
 [class^="i-"]:before, [class*=" i-"]:before {
  font-family: "ft";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.i-insta:before { content: '\f001'; } /* '' */
.i-fb:before { content: '\f002'; } /* '' */
.i-twitter:before { content: '\f003'; } /* '' */
.i-home:before { content: '\f004'; } /* '' */
.i-heart:before { content: '\f005'; } /* '' */
.i-menu:before { content: '\f006'; } /* '' */
.i-cancel:before { content: '\f007'; } /* '' */